<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dPLekha</title>
    <style>
        body{
            font-family: consolas;
            margin: 0;
        }
        nav{
            background: #3B5998;
            padding: 20px;
        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        .google-btn{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background: #ff5353;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <% if(user) { %>
                <li><a href="/logout"><button type="submit"> Logout</button></a></li>
                <li><a href="/profile/">Profile</a></li>
            <% } else { %>
                <li><a href="/login"><button> Login</button></a></li>
            <% } %>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <p>You need to Login first using available options...</p>
        <h1>Login to dPLekha using...</h1>
    </header>
    <main>
        <a class="google-btn" href="/google">Google+</a>
    </main>
</body>
</html>